<html>
    <head>
            
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap&family=Righteous&display=swap" rel="stylesheet">
    

        <title>Kamil's Birthday</title>
    </head>
    <body>


        <!-- NAVIGATION BAR -->
        <nav class="navbar navbar-expand-md navbar-dark bg-custom">
            <a class="navbar-brand" href="#"><i class="fas fa-birthday-cake"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNavbar" aria-controls="collapseNavbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="collapseNavbar">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link reasons" href="/home#reasons">Why Celebrate?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link memories" href="/home#memories">Memories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link gifts" href="/home#gifts">Gifts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link messages" href="/home#messages">Messages</a>
                </li>
              </ul>
            </div>
          </nav>    
        
    




    